.dark_theme {
    --main: #424242;
    --secondary: #FBF4F4;
    --accent: #2E2E2E;

    --bg: var(--main);
    --text: var(--secondary);
    --bg-inverse: var(--accent);
    --text-inverse: var(--secondary);


}

