.light_theme {
    --main: #f5f5f5;
    --secondary: #424242;
    --accent: #2E2E2E;

    --bg: var(--main);
    --text: var(--secondary);
    --bg-inverse: var(--accent);
    --text-inverse: var(--main);

    --color-h1: linear-gradient(121.57deg,#000000 18.77%,rgba(0,0,0,0.66) 60.15%);
}
